<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gregmcgowan.drownedinsound"
    android:versionCode="1"
    android:versionName="0.0.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:name="com.gregmcgowan.drownedinsound.DisBoardsApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Dis_boards" >
        <activity android:name="com.gregmcgowan.drownedinsound.ui.activity.LoginActivity"  android:label="" />
        <activity android:name="com.gregmcgowan.drownedinsound.ui.activity.MainCommunityActivity" android:label="" />
        <activity android:name="com.gregmcgowan.drownedinsound.ui.activity.BoardPostActivity"  android:label="" />
        <activity android:name="com.gregmcgowan.drownedinsound.ui.activity.FavouritesActivity" android:label="Favourite Posts"
            android:icon="@null"/>

        <service android:name=".data.network.service.DisWebService" />

        <service android:name="com.gregmcgowan.drownedinsound.data.DatabaseService" />

        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name="com.gregmcgowan.drownedinsound.ui.activity.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>